head
  title
    Microscope
body
  .container
    header(class="navbar navbar-default" role="navigation")
      .navbar-header
        a(class="navbar-brand" href="/") Microscope
    .main
      +postsList

