template(name="postItem")
  .post
    .post-content
      h3
        a(href="{{url}}" target="_blank") {{title}}
        span {{domain}}
        a(href="{{pathFor 'postPage'}}" class="discuss btn btn-default") Discuss

